{% extends "../base.html" %}

{% block "header-title" %} Usuários {% endblock %}

{% block "main-content" %}


<ul class="demo-list-two mdl-list">
    {% for profile in profiles %}
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">
                    person
                </i>

                <span>
                    <a href="{% url 'pages_profile_show' profile.id %}">
                        {{profile.user.first_name}}
                    </a>
                </span>

                <span class="mdl-list__item-sub-title">
                    Admin
                </span>
            </span>

        </li>

    {% endfor %}
</ul>

<a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect fab-profile-add" href="{% url 'pages_profile_create' %}">
    <i class="material-icons">add</i>
</a>

<style>
    .fab-profile-add {
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
</style>

{% endblock %}